.page {
  height: 100vh;
  display: grid;
  place-items: center;

  .container {
    width: 576px;

    .logo {
      margin-bottom: 50px;
      text-align: center;
    }

    .form {
      display: flex;
      flex-flow: column;
      width: 100%;
      max-width: 578px;

      .control {
        margin-bottom: 20px;
      }

      .group {
        margin-top: 2px;
        display: flex;
        justify-content: space-between;

        .findLink {
          font-size: 1.4rem;
          color: var(--color-primary);
          text-decoration: none;
        }

        .findLinkArrow {
          margin-left: 6px;
          vertical-align: -3px;
        }
      }

      .buttonGroup {
        margin: 2rem 0;
      }
    }
  }
}
